<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rewyndr.reflectbig" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.PhotoMultiViewActivity"
            android:label="@string/title_activity_photo_multi_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SinglePhotoViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.EventsListActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.EventDetailActivity"
            android:label="@string/title_activity_event_detail_layout" />
        <activity
            android:name=".activity.AttendeeListActivity"
            android:label="@string/title_activity_attendee_list" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.InviteEventActivity"
            android:label="@string/title_activity_invite_event"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.CreateEventActivity"
            android:label="@string/title_activity_create_event" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>

        <receiver
            android:name=".activity.GalleryBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="MyBroadcast"></action>
            </intent-filter>
        </receiver>
        <service android:name=".activity.GalleryService" />
    </application>

</manifest>
